<h1>Add a Purchase:</h1>

<form class="inline" action="/save_purchase" method="post">
  
    <label for="date">Date:</label>

    <div class="form-item">
    <input type="date" name="date" id="date" value="<%= todays_date %>">
    </div>
    <p class="note">*Invalid date input will be automatically set to today's date</p>

    <label for="category">Category:</label>

    <div class="form-item">
      <select name="category" id="category">
        <% @budget[:categories].each do |category_name, _| %>
          <option value="<%= category_name %>"><%= category_name %></option>
        <% end %>
      </select>
    </div>

    <label for="amount">Amount:</label>

    <div class="form-item"> <!-- Forces the user to input a number -->
    <input type="number" min="0.00" max="100000.00" step="0.01" name="amount" id="amount">
    </div>

    <button class="edit" type="submit">Save Purchase</button>
</form>

<form class="inline" action="/" method="get">
  <button class="delete" type="submit">Cancel</button>
</form>