<h1>Add a Purchase:</h1>

<form action="/save_purchase" method="post">
  
    <label for="date">Date:</label>

    <div>
    <input type="date" name="date" id="date" value="<%= todays_date %>">
    </div>

    <label for="category">Category:</label>

    <div>
      <select name="category" id="category">
        <% @budget["categories"].each do |category_name, _| %>
          <option value="<%= category_name %>"><%= category_name %></option>
        <% end %>
      </select>
    </div>

    <label for="amount">Amount:</label>

    <div> <!-- Forces the user to input a number -->
    <input type="number" name="amount" id="amount">
    </div>

    <button type="submit">Save Purchase</button>
</form>

<a href="/">Cancel</a>