<h1>Update your monthly income</h1>

<form action="/budget/add_category" method="post">
  
    <label for="income">Income:</label>

    <div>
    <input name="income" id="income" value="<%= @budget["monthly income"] %>">
    </div>

    <button type="submit">Save</button>
</form>