<div class="container-fluid sub-page">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form action="/budget/edit_income" method="post">
        
          <label for="income"><h2 class="text-center">Income:</h2></label>

          
          <div>$&nbsp;<input type="number" name="income" id="income" value="<%= @income %>"></div>
          
          <input type="submit" value="Save">
          
      </form>

      <form action="/" method="get">
        <input class="d-inline" type="submit" value="Cancel">
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>