<h1 class="text-center">Edit the <%= @category[:name] %> Category</h1>
<div class="container-fluid">
  <div class="row">
  <div class="col"></div>
    <div class="col-md-auto">
      <form class="inline" action="/budget/<%= @category[:id] %>/update" method="post">
        
          <label for="new_category_name">Category Name:</label>

          <div class="form-item">
          <input name="new_category_name" id="new_category_name" value="<%= @category[:name] %>">
          </div>

          <label for="new_amount">Amount to budget:</label>

          <div class="form-item">
          $<input type="number" min="0.00" max="100000.00" step="0.01" name="new_amount" id="new_amount" value="<%= @category[:amount] %>">
          </div>

          <input type="submit" value="Save">
      </form>

      <form class="inline" action="/" method="get">
        <input type="submit" value="Cancel">
      </form>
      </div>
      <div class="col"></div>
    </div>
</div>