<h1>Update your monthly income</h1>

<form action="/budget/edit_income" method="post">
  
    <label for="income">Income:</label>

    <div>
    $<input type="number" name="income" id="income" value="<%= @budget[:monthly_income] %>">
    </div>

    <button type="submit">Save</button>
</form>