<!DOCTYPE html>
<html>
  <head>
    <title>Easy Budget</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/easy_budget.css" >
  </head>

  <body>
  <% if session[:message] %>
    <p class="message"><%= session.delete(:message) %></p>
  <% end %>
  <%= yield %>
  </body>
  
</html>

