<h1>Welcome to Easy Budget</h1>
<h2 class="note">You must be logged in to view and edit your budget</h2>

<p>Please enter your username and password:</p>

<form action="/users/signin" method="post">
  
    <label for="username">Username:</label>

    <div class="form-item">
    <input name="username" id="username">
    </div>

    <label for="password">Password:</label>

    <div class="form-item">
    <input name="password" id="password">
    </div>

    <button class="edit" type="submit">Sign In</button>
</form>

