body {
  width: 960px;
  margin: 0 auto;
}

.navbar {
  border-radius: 0 0 5px 5px;
}
.alert {
  margin-top: 5px;
}
nav p {
  color: #fff;
  margin: 0;
}
nav p strong {
  color: #00fffa;
}
nav p, nav form {
  display: inline-block;
}
#user-info {
  text-align: right;
}
#sign-out {
  margin: 0 0 0 10px;
}

#add-purchase {
  text-align: center;
  margin: 0 auto;
}

#income, #add-purchase {
  margin-top: 5px;
  background: lightblue;
  padding: 5px;
  border-radius: 5px;
}

#income h2, strong {
  display: inline-block;
  padding: 5px 0 0 0;
}

table {
  margin: collapse;
}
.table td {
  vertical-align: middle;
}

#metrics {
  text-align: center;
  padding: 30px 0;
}

h2.metric {
  padding: 10px 0;
}
.pie-chart {
  background: fff;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 80px 0 0 0;
  border: 2px solid #000;
  border-radius: 100%;
}
ul[data-graph] li:nth-child(1) {
  color: red;
}

ul[data-graph] li:nth-child(2) {
  color: red;
}

ul[data-graph] li:nth-child(3) {
  color: yellow;
}

table {
  margin: 15px 0 0 0;
}

thead {
  background: #e0f5fc;
}

thead tr th:first-of-type {
  border-top-left-radius: 5px;
}

#purchases {
  margin: 30px 0 30px 0;
  box-sizing: border-box;
}

#footer {
  border-radius: 5px 5px 0 0;
}
/* Responsive styles */

@media (max-width: 960px) {
  body {
    width: 100%;
  }
  #user-info, #easy-budget {
  text-align: center;
  }
}